<div class="adoption-request">
  <h1>{{ "POPUP.TITLE" | translate }}</h1>
  <p>{{ "POPUP.TEXT1" | translate }}</p>
  <p>{{ "POPUP.TEXT2" | translate }}</p>
  <div class="video-container">
    <img src="../../assets/popUp/videoPopup.png" alt="" />
  </div>
  <p>{{ "POPUP.QUESTION" | translate }}</p>
  <div class="button-container">
    <button class="cancel-button">{{ "POPUP.CANCEL" | translate }}</button>
    <button class="continue-button">
      {{ "POPUP.CONTINUE" | translate }}
    </button>
  </div>
</div>
