<!--  Navegación rápida -->
<div class="botones">
  <button routerLink="/home/gallery">Galería</button>
  <button routerLink="/home/profile">Menú</button>
  <button mat-icon-button routerLink="/home/favoritos">
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<!--  Buscador y filtro -->
<div class="tituloF">
  <div class="buscador">
    <input
      class="input_buscador"
      type="text"
      [(ngModel)]="textoBusqueda"
      (input)="buscar(textoBusqueda)"
      placeholder="Busca tu Animal..."
    />
  </div>

  <div>
    <button mat-icon-button (click)="abrirModal()" class="modalAbrir">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
</div>

<!--  Resultados -->
@if (resultados.length > 0) {
<div class="image-container">
  @for (animal of resultados; track $index) {
  <div class="animal">
    <h1>Adopción de {{ animal.nombre }}</h1>
    <p>{{ animal.adoptionState }}</p>

    <div class="imagen-container">
      <img
        class="imagen"
        [src]="animal.foto"
        alt="foto"
        [routerLink]="['/home', 'adopcion', animal._id]"
      />
    </div>

    <div>
      <p>Nombre: {{ animal.nombre }}</p>
      <p>Ciudad: {{ animal.ciudad }}</p>
      <p>Sexo: {{ animal.genero }}</p>
    </div>
  </div>
  }
</div>
} @if (resultados.length === 0) {
<div class="no-result">
  <p>No se encontraron resultados.</p>
</div>
}

<!--  Barra inferior -->
<app-nav-bar></app-nav-bar>
