<div class="home">
  <div class="container-img">
    <img src="../../assets/login_logo/logo@3x.png" />
  </div>

  <div class="usuario">
    <p>¡Hola!</p>
  </div>

  <div class="adoption-section" routerLink="adopcion-estado">
    <div class="pet-info">
      <img src="../../assets/navBar/mascota@3x.png" class="pet-image" />
      <div class="info-text-container">
        <h3>Estado de la adopción</h3>
        <p>Revisa el proceso de tus adopciones en curso</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="novedades">
    <p>Novedades</p>
  </div>

  @for (item of novedades(); track item.texto) {
  <div class="gallery">
    <a [href]="item.url" target="_blank">
      <img [src]="item.img" [alt]="item.texto" />
      <p>{{ item.texto }}</p>
    </a>
  </div>
  }
</div>
