<div class="global-page-shell profile-menu-container">
  <header class="menu-header">
    <div class="header-content">
      <span class="eyebrow">Ajustes</span>
      <h1>Menú Principal</h1>
    </div>
  </header>

  <div class="menu-list">
    <a routerLink="/home/user" class="menu-item">
      <div class="item-left">
        <div class="icon-box blue"><mat-icon>person</mat-icon></div>
        <span>Mi perfil</span>
      </div>
      <mat-icon class="arrow">chevron_right</mat-icon>
    </a>

    <a routerLink="/home/map" class="menu-item">
      <div class="item-left">
        <div class="icon-box green"><mat-icon>location_on</mat-icon></div>
        <span>Direcciones</span>
      </div>
      <mat-icon class="arrow">chevron_right</mat-icon>
    </a>

    <a routerLink="/home/favoritos" class="menu-item">
      <div class="item-left">
        <div class="icon-box red"><mat-icon>favorite</mat-icon></div>
        <span>Favoritos</span>
      </div>
      <mat-icon class="arrow">chevron_right</mat-icon>
    </a>

    <button class="menu-item" (click)="toggleNotificaciones()">
      <div class="item-left">
        <div class="icon-box yellow"><mat-icon>notifications</mat-icon></div>
        <span>Notificaciones</span>
      </div>
      <div class="modern-toggle mini">
        <input type="checkbox" [checked]="notificacionesActivas" />
        <div class="toggle-slider"></div>
      </div>
    </button>

    <a routerLink="/home/mis-solicitudes" class="menu-item">
      <div class="item-left">
        <div class="icon-box orange"><mat-icon>assignment</mat-icon></div>
        <span>Estado de la adopción</span>
      </div>
      <mat-icon class="arrow">chevron_right</mat-icon>
    </a>
  </div>

  <button class="btn-logout" (click)="logout()">
    <mat-icon>logout</mat-icon> Cerrar Sesión
  </button>
</div>
