<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo / Enlace a inicio (Oculto en móvil para ganar espacio) Probando-->
    <a routerLink="/home" class="navbar-brand">
      <mat-icon class="brand-icon">pets</mat-icon>
      <span class="brand-text">Protectora</span>
    </a>

    <!-- Enlaces de navegación -->
    <div class="nav-links">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item"
      >
        <mat-icon>home</mat-icon>
        <span class="nav-label">Inicio</span>
      </a>

      <a routerLink="/home/galeria" routerLinkActive="active" class="nav-item">
        <mat-icon>grid_view</mat-icon>
        <span class="nav-label">Galería</span>
      </a>

      <a
        routerLink="/home/favoritos"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>favorite</mat-icon>
        <span class="nav-label">Favoritos</span>
      </a>

      <a routerLink="/home/profile" routerLinkActive="active" class="nav-item">
        <mat-icon>person</mat-icon>
        <span class="nav-label">Perfil</span>
      </a>
    </div>
  </div>
</nav>
