<div
  class="splash-container fade-in"
  (click)="irSlide1()"
  title="Toca para empezar"
>
  <main class="splash-content">
    <div class="logo-wrapper pulse-animation">
      <img
        class="logo-main"
        src="../../assets/onboarding/group29@3x.png"
        alt="Logo de la Protectora"
      />
    </div>

    <div class="title-wrapper">
      <img
        class="logo-text"
        src="../../assets/onboarding/lucky_portada.png"
        alt="Lucky"
      />
    </div>
  </main>

  <footer class="splash-footer">
    <p class="tap-text">Toca la pantalla para comenzar</p>
  </footer>
</div>
