<div class="home">
  <!--  Logo -->
  <div class="container-img">
    <img src="../../assets/login_logo/logo@3x.png" />
  </div>

  <!--  Saludo -->
  <div class="usuario">
    <p>¡Hola!</p>
  </div>
  <!--  Sección de adopción -->
  <div class="adoption-section" routerLink="/adopcion">
    <div class="pet-info">
      <img src="../../assets/navBar/mascota@3x.png" class="pet-image" />
      <div class="info-text-container">
        <h3>Estado de la adopción</h3>
        <p>Revisa el proceso de tus adopciones en curso</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <!--  Novedades -->
  <div class="novedades">
    <p>Novedades</p>
  </div>

  <!--  Galería de novedades -->
  @for (item of novedades; track item.texto) {
  <div class="gallery">
    <a [href]="item.url" target="_blank">
      <img [src]="item.img" [alt]="item.texto" />
      <p>{{ item.texto }}</p>
    </a>
  </div>
  }

  <!--  Barra de navegación -->
  <app-nav-bar></app-nav-bar>
</div>
