<div class="container">
  <img
    src="../../assets/login_logo/logo@3x.png"
    alt="Logo pequeño"
    class="logo"
  />

  <h2>¡Hola! Crea una cuenta para comenzar</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <label>
        <input type="text" formControlName="name" placeholder="Nombre" />
      </label>

      @if (contactForm.get("name")?.errors) {
        <app-form-errors [errors]="contactForm.get('name')?.errors ?? null" />
      }

      <label>
        <input type="text" formControlName="email" placeholder="Email" />
      </label>

      @if (contactForm.get("email")?.errors) {
        <app-form-errors [errors]="contactForm.get('email')?.errors ?? null" />
      }

      <label class="label-contraseña">
        <input
          [type]="show ? 'text' : 'password'"
          formControlName="password"
          placeholder="Contraseña"
          class="input-password"
        />

        <button type="button" class="eye-btn" (click)="togglePassword()">
          <img
            src="../../assets/primary_icons/little_icons_primary/ojo_little/ojo@3x.png"
            class="ojo"
          />
        </button>
      </label>

      @if (contactForm.get("password")?.errors) {
        <app-form-errors
          [errors]="contactForm.get('password')?.errors ?? null"
        />
      }
    </fieldset>

    <button class="btn-login" type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? "Registrando..." : "Registrarse" }}
    </button>
  </form>
  <button class="btn-back" (click)="volver()">Volver</button>
</div>
<div class="toast" *ngIf="showToast">
  {{ toastMessage }}
</div>
